Source: python-declarative
Section: python
Priority: optional
Maintainer: Lee McCuller <lee.mcculler@ligo.org>
Standards-Version: 3.9.8
Homepage: https://github.com/mccullerlp/python-declarative
Vcs-Git: https://github.com/mccullerlp/python-declarative.git
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python3-all,
 python3-dateutil,
 python3-numpy,
 python3-requests,
 python3-setuptools,
 python3-setuptools-scm,
 python3-pytest,

Package: python3-declarative
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-h5py
Description:
  declarative programming tools for python classes.
  Python3 support.

